.link:hover {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

img.logo{
	max-width: 100px;
}

div.content{
	padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
}

image{
	max-width: 100px;
	max-height: 100px;
}

nav.navbar{
	padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.itemIcon{
	max-height: 64px;
	max-width: 64px;
}

textarea{
	width: 100%;
}

div.fullWidth{
	padding: 0px;
}

li span.tabLink:hover{
	text-decoration: underline;
	cursor: pointer;
	color: lightskyblue;
}

.boarders{
	border-left: 6px;
	border-left-style: solid;
	border-color: #412F82;
}

.whiteText{
	color: white;
}

button.btn-primary {
    color: #fff;
    background-color: #412F82;
    border-color: #412F82;
}

button.btn-primary:hover {
    color: #fff;
    background-color: #523ca3;
    border-color: #523ca3;
}

.strongBlueText{
	color: #412F82;
}

tr.emptyLine{
	text-align: center
}

.middleBlueText{
	color: #2F4D82;
}

.lightBlueText{
	color: #b7f0f5;
}

.strongBlueBackground{
	background-color: #412F82;
}

.middleBlueBackground{
	background-color: #2F4D82;
}

.lightBlueBackground{
	background-color: #b7f0f5;
}

table.contentTable{
	width: 100%;
}


/*
Vou usar azul para botões, ações e informações importantes.
O verde fica para mensagens secundários e informações menos importantes.
Fundos neutros (branco ou bege)

Minha cor é azul
412F82 azul escuro
2F4D82 azul médio
22666B azul claro

Minha complementar é verde
317820 verde claro
22824E verde médio
*/

