body#bodyId.bodyWithStyle{
	background-size: contain;
	background-repeat: no-repeat;
	background-color: black;
	background-position: center;
}

html, body{
	height: 95%;
	width: 95%;
}

img{
	max-width: 50%;
	max-height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto 
}

.knowledgeTable{
	width: 100%;
}

tr.knowledgeRow{
	height: 30%;
}

.fullHeight{
	
}

td.politicianBox h3{
	background-color: white;
	border-color: gray;
	border-style: solid;
}

td.politicianBox{
	text-align: center;
}

td.politicianBox img{
	max-height: 300px;
	max-width: 300px;
}